@use "../abstracts/variables" as *;

body{
    background-color: white;
    margin: 0;
    padding: 0;

    .container-principal{
        
        background-color: $color-gray-fondo;
        max-width: $size-screen-max;
        
    }
}